jupyter
pyzmq
scipy
pandas
matplotlib
statsmodels
scikit-learn
seaborn
nltk
gensim
sympy
bokeh
networkx
theano
requests
beautifulsoup4
google-api-python-client
django-recommends==0.3.1
bottleneck
requests
pyyaml
boto
pattern
cyhunspell
